

  .large-label {
    display: inline-block;
    font: bold 1.0rem sans-serif;
    margin-bottom: 0.5rem;
  }
  .small-label {
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.25rem;
    margin-right: 1.5rem;
    font: 1.25rem sans-serif;
  }


  input[type=text], select, 
  input[type=textarea] {
    white-space: normal;
    overflow: hidden;
    cursor: text;
    position: relative;
    top: 0;
    width: 50%;
    height: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
   /* float: left; */
   
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
   
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 0px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 10%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 90%;
    margin-top: 6px;
    justify-content: left;
    word-break: break-all;
    padding-top: 0;
    border-top-width: 0;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  




