<!DOCTYPE html>
<html>
<head>
    <title>Real Estate AI Assistant</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1><p style="text-align:center">Real Estate AI Assistant</p></h1>
    <form action="/submit" method="post">
        <div class="row">
         <div class="col-25">
          <label for="input_text" class="large-label">About Property:</label>
         </div>
         <div class="col-75">
         <textarea  rows="5" cols="100" wrap=""  placeholder="Description:"  id="input_text" name="input_text" >{{input_text}}</textarea>
         </div>
        </div>
        <div class="row">
          <fieldset>
            <label for="rewrite" class="small-label">Rewrite</label>
            <input type="radio" id="rewrite" name="options" value="rewrite"/> &nbsp; &nbsp; 
            <label for="summary" class="small-label">Summary</label>
           <input type="radio" id="summary" name="options" value="summary"/>&nbsp; &nbsp; 
           <label for="email" class="small-label">Email</label>
           <input type="radio" id="email" name="options" value="email"/>&nbsp; &nbsp; 
           <label for="open" class="small-label">Open House</label>
           <input type="radio" id="open" name="options" value="openhouse"/>
          
        </fieldset>
       
        </div>
       <div class="row">
        <div class="col-25">
          <label for="output_text" class="large-label">AI Output:</label>
         </div>
          <div class="col-75">
            <textarea rows="5" cols="100" wrap=""   id="output_text" name="output_text" readonly>{{output_text}}</textarea>
           </div>
        </div>
       <div class="row">
         <input type="submit" value="Submit"/>
        </div>
      </form>
</body>
</html> 