<!DOCTYPE html>
<html>
<head>
    <title>Real Estate AI Assistant</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Real Estate AI Assistant</h1>
    <form action="/submit" method="post">
        <div class="full-width">
         <label for="input_text" class="large-label">About Property:</label><br>
         <input type="textarea" id="input_text" name="input_text"><br>
        </div>
        <div>
          <fieldset>
            <label for="rewrite" class="large-label">Rewrite</label>
            <input type="radio" id="rewrite" name="options" value="rewrite"/>
            <label for="summary" class="large-label">Summary</label>
           <input type="radio" id="summary" name="options" value="summary"/>
           <label for="email" class="large-label">email</label>
           <input type="radio" id="email" name="options" value="email"/>
           <label for="open" class="large-label">Open House</label>
           <input type="radio" id="open" name="options" value="open"/>
          
        </fieldset>
        </div>
        <div class="full-width">
          <label for="output_text" class="large-label">AI Output:</label><br>
          <input type="textarea" id="output_text" name="output_text"><br><br>
        </div>
        <div class="full-width">
         <input type="submit" value="Submit">
        </div>
      </form>
</body>
</html> 