<!DOCTYPE html>
<html>
<head>
    <title>Real Estate AI Assistant</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1><p style="text-align:center">Real Estate AI Assistant</p></h1>
    <form action="/submit" method="post">
        <div class="col-25">
         <label for="input_text" class="large-label">About Property:</label><br>
        </div>
        <div class="col-75"></div>
         <input type="textarea" rows="5" cols="60" id="input_text" name="input_text" value="{{input_text}}" style="height:200px"><br>
        </div>
        <div class="row">
          <fieldset>
            <label for="rewrite" class="small-label">Rewrite</label>
            <input type="radio" id="rewrite" name="options" value="rewrite"/>
            <label for="summary" class="small-label">Summary</label>
           <input type="radio" id="summary" name="options" value="summary"/>
           <label for="email" class="small-label">email</label>
           <input type="radio" id="email" name="options" value="email"/>
           <label for="open" class="small-label">Open House</label>
           <input type="radio" id="open" name="options" value="openhouse"/>
          
        </fieldset>
        <br>
        </div>
        <div class="col-25">
          <label for="output_text" class="large-label">AI Output:</label><br>
         </div>
          <div class="col-75">
            <input type="textarea" rows="5" cols="60" id="output_text" name="output_text" value="{{output_text}}" style="height:200px"><br>
           </div>
       <div class="row">
         <input type="submit" value="Submit">
        </div>
      </form>
</body>
</html> 